#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# CentOS-SCLo-rh.repo
#
# Please see http://wiki.centos.org/SpecialInterestGroup/SCLo for more
# information

[centos-sclo-rh]
name=CentOS-7 - SCLo rh
baseurl=http://mirror.centos.org/centos/7/sclo/$basearch/rh/
gpgcheck=1
enabled={{ centos_repositories.sclo_rh | default('0') }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
proxy = http://http-proxy-2.em.health.ge.com:9400
keepcache = 0

# The following are usually not mirrored. Enabling it in this
# repo file will have them overwritten next run -> copy it out
# to a new file to enable.
#
# [centos-sclo-rh-testing]
# name=CentOS-7 - SCLo rh Testing
# baseurl=http://buildlogs.centos.org/centos/7/sclo/$basearch/rh/
# gpgcheck=0
# enabled=0
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
#
# [centos-sclo-rh-source]
# name=CentOS-7 - SCLo rh Sources
# baseurl=http://vault.centos.org/centos/7/sclo/Source/rh/
# gpgcheck=1
# enabled=0
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
#
# [centos-sclo-rh-debuginfo]
# name=CentOS-7 - SCLo rh Debuginfo
# baseurl=http://debuginfo.centos.org/centos/7/sclo/$basearch/
# gpgcheck=1
# enabled=0
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
