#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# CentOS-SCLo-sclo.repo
#
# Please see http://wiki.centos.org/SpecialInterestGroup/SCLo for more
# information

[centos-sclo-sclo]
name=CentOS-7 - SCLo sclo
baseurl={{ centos_mirror }}/7/sclo/$basearch/sclo/
gpgcheck=1
enabled={{ centos_repositories.sclo | default('0') }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
keepcache = 0

# The following are usually not mirrored. Enabling it in this
# repo file will have them overwritten next run -> copy it out
# to a new file to enable.
#
# [centos-sclo-sclo-testing]
# name=CentOS-7 - SCLo sclo Testing
# baseurl=http://buildlogs.centos.org/centos/7/sclo/$basearch/sclo/
# gpgcheck=0
# enabled=0
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
#
# [centos-sclo-sclo-source]
# name=CentOS-7 - SCLo sclo Sources
# baseurl=http://vault.centos.org/centos/7/sclo/Source/sclo/
# gpgcheck=1
# enabled=0
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
#
# [centos-sclo-sclo-debuginfo]
# name=CentOS-7 - SCLo sclo Debuginfo
# baseurl=http://debuginfo.centos.org/centos/7/sclo/$basearch/
# gpgcheck=1
# enabled=0
# gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-SCLo
