#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
[updates-testing]
name=Fedora $releasever - $basearch - Test Updates
failovermethod=priority
baseurl={{ fedora_mirror }}/fedora/linux/updates/testing/$releasever/Everything/$basearch/
enabled={{ fedora_repositories.updates_testing | default('0') }}
repo_gpgcheck=0
type=rpm
gpgcheck=1
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch
skip_if_unavailable=False

[updates-testing-debuginfo]
name=Fedora $releasever - $basearch - Test Updates Debug
failovermethod=priority
baseurl={{ fedora_mirror }}/fedora/linux/updates/testing/$releasever/Everything/$basearch/debug/
enabled={{ fedora_repositories.updates_testing_debuginfo | default('0') }}
repo_gpgcheck=0
type=rpm
gpgcheck=1
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch
skip_if_unavailable=False

[updates-testing-source]
name=Fedora $releasever - Test Updates Source
failovermethod=priority
baseurl={{ fedora_mirror }}/fedora/linux/updates/testing/$releasever/Everything/SRPMS/
enabled={{ fedora_repositories.updates_testing_source | default('0') }}
repo_gpgcheck=0
type=rpm
gpgcheck=1
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch
skip_if_unavailable=False
