#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# https://netplan.io/reference/
#
# note: an alternative to ignoring routes might be applying different
#       route metrics in the dhcp override
network:
    version: 2
    ethernets:
        {{iface.key}}:
            dhcp4: {{iface.value.dhcp|default(false)|boolconv('truefalse')}}
            dhcp6: {{iface.value.dhcp6|default(false)|boolconv('truefalse')}}
            set-name: {{iface.key}}
  {% if iface.value.defaultroute is defined %}
            dhcp4-overrides:
                use-routes: {{iface.value.defaultroute|boolconv('truefalse')}}
  {% endif %}
  {% if iface.value.hwaddr is defined %}
            match:
                macaddress: {{iface.value.hwaddr}}
  {% endif %}
  {% if iface.value.routes is defined %}
            routes:
    {% for route in iface.value.routes %}
                - to: {{iface.value.routes[route].destination}}
                  via: {{iface.value.routes[route].gateway}}
    {% endfor %}
  {% endif %}