[{{_repository.value.name|default(_repository.key)}}]
name={{ _repository.value['description'] | default(_repository.key) }}
type={{ _repository.value['type'] | default('rpm-md') }}
baseurl={{ _repository.value['baseurl'] }}
enabled={{ _repository.value['enabled'] | default(1) }}
gpgcheck={{ _repository.value['gpgcheck'] | default(0) }}
sslverify={{ _repository.value['sslverify'] | default(0) }}
metadata_expire={{ _repository.value['metadata_expire'] | default(60) }}