#jinja2: lstrip_blocks: True
{% if _secret.value.passdb is defined %}
{% set _passdb=_secret.value.passdb %}
{% else %}
{% set _passdb=passdb %}
{% endif %}
{{lookup(_passdb, _secret.value.key+' returnall=true')}}