# {{ ansible_managed }}
{% for line in __user.value.sudoers_defaults|default({}) %}
Defaults:{{__user.key}} {{line}}
{% endfor %}
{% for line in __user.value.sudoers %}
{{__user.key}} {{line}}
{% endfor %}