#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# See: https://www.freedesktop.org/software/systemd/man/systemd.netdev.html
#
# Currently only some basics for static addresses, dhcp and vlan are
# implemented. Some options are present but disabled to make adding
# additional functionality once needed easier. Do not manually edit
# the ansible created files.

#[Match]
#Host=
#Virtualization=
#Architecture=
#KernelCommandLine=

[NetDev]
#Description=
Name={{item.key}}
Kind={{item.value.type}}
#MTUBytes=
{% if item.value.type == "dummy" %}
MACAddress={{ item.value.hwaddr }}
{% endif %}

{% if item.value.type == "vlan" %}
[VLAN]
{% if item.value.vlan is number %}
Id={{item.value.vlan}}
{% else %}
Id={{vlans[item.value.vlan]}}
{% endif %}
#GVRP=
#MVRP=
#LooseBindings=
#ReorderHeader=
{% endif %}

{% if item.value.type == "bond" %}
[Bond]
Mode={{ item.value.bond_mode | default('balance-rr') }}
 {% if item.value.bond_mode is defined %}
  {% if item.value.bond_mode == '802.3ad' or
        item.value.bond_mode == 'balance-xor' or
        item.value.bond_mode == 'balance-tlb' %}
TransmitHashPolicy={{ item.value.transmit_hash_policy | default('layer2') }}
  {% endif %}
  {% if item.value.bond_mode == '802.3ad' %}
LACPTransmitRate={{ item.value.lacp_transmit_rate | default('slow') }}
  {% endif %}
  {% if item.value.bond_mode == 'balance-alb' or
        item.value.bond_mode == 'balance-tlb' %}
LearnPacketIntervalSec={{ item.value.learn_packet_interval_sec | default(1) }}
  {% endif %}
  {% if item.value.bond_mode == 'balance-rr' %}
PacketsPerSlave={{ item.value.packets_per_slave | default(1) }}
  {% endif %}
  {% if item.value.bond_mode == 'active-backup' %}
GratuitousARP={{ item.value.gratuitous_arp | default(1) }}
  {% endif %}
 {% endif %}
MIIMonitorSec={{ item.value.mii_monitor_sec | default(0) }}
UpDelaySec={{ item.value.up_delay_sec | default(0) }}
DownDelaySec={{ item.value.down_delay_sec | default(0) }}
{% if item.value.arp_ip_targets is defined %}
ARPValidate={{ item.value.arp_validate | default('none') }}
ARPIntervalSec={{ item.value.arp_interval_sec | default(0) }}
ARPIPTargets={{ item.value.arp_ip_targets }}
ARPAllTargets={{ item.value.arp_all_targets | default('any') }}
{% endif %}
PrimaryReselectPolicy={{ item.value.primary_reselect_policy | default('better') }}
ResendIGMP={{ item.value.resend_igmp | default(1) }}
AllSlavesActive={{ item.value.all_slaves_active | default('false') }}
MinLinks={{ item.value.min_links | default(0) }}
{% endif %}