#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# See: https://www.freedesktop.org/software/systemd/man/systemd.link.html

[Match]
{% if item.value.hwaddr is defined %}
MACAddress={{ item.value.hwaddr }}
{% endif %}
#MACAddress=
#Path=
#Driver=
#Type=
#Host=
#Virtualization=
#Architecture=

[Link]
{% if item.value.link_flags is defined %}
{% set _link = item.value.link_flags %}
{% if _link.wakeonlan is defined %}
WakeOnLan={{_link.wakeonlan}}
{% endif %}

{% endif %}