#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description={{systemd_timers[item.1].description|default(item)}}

[Timer]
OnCalendar={{systemd_timers[item.1].oncalendar}}
Persistent={{systemd_timers[item.1].persistent|default(true)}}
RandomizedDelaySec={{systemd_timers[item.1].randomized_delay_sec|default(0)}}

[Install]
WantedBy=timers.target