#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# See: https://www.freedesktop.org/software/systemd/man/systemd.network.html
#
# Currently only some basics for static addresses, dhcp and vlan are
# implemented. Some options are present but disabled to make adding
# additional functionality once needed easier. Do not manually edit
# the ansible created files.

[Match]
Name={{item.key}}
#MACAddress=
#Path=
#Driver=
#Type=
#Host=
#Virtualization=
#Architecture=

[Link]
{# for now only force MAC addresses on bridges #}
{% if item.value.hwaddr is defined and item.value.type == "bridge" %}
MACAddress={{ item.value.hwaddr }}
{% endif %}
{% if item.value.mtu is defined %}
MTUBytes={{ item.value.mtu }}
{% endif %}
#ARP=
# default: no, set it explicitely
Unmanaged={{ item.value.unmanaged | default('no')}}

[Network]
#Description=
{% if item.value.static is defined and item.value.static == True %}
{# TODO: check if it's a dict. in that case, add multiple address #}
{#       sections instead                                         #}
{# TODO: add prefixes #}
Address={{ item.value.ipv4 }}
  {% if item.value.gateway is defined %}
Gateway={{ item.value.gateway }}
  {% endif %}
{% elif item.value.static is defined and item.value.static == False %}
DHCP=yes
{# if ipv4 and hwaddr is defined, but static is not assume that the address #}
{# is configured in the DHCP server as static binding                       #}
{% elif item.value.ipv4 is defined and item.value.hwaddr is defined %}
DHCP=yes
{# check if dhcp is explicitely configured #}
{% elif item.value.dhcp is defined %}
DHCP={{ item.value.dhcp }}
{# default to not checking DHCP #}
{% else %}
DHCP=no
{% endif %}

IPForward={{ item.value.forwarding|default("no") }}
IPMasquerade={{ item.value.masquerade|default("no") }}

#BindCarrier=
#IPv6PrivacyExtensions=
#IPv6AcceptRA=
#IPv6HopLimit=
{% if item.value.bridge is defined %}
Bridge={{item.value.bridge}}
{% endif %}
{% if item.value.bond is defined %}
Bond={{item.value.bond}}
{% endif %}
#VRF=
#TODO: look up vlans my name
{% if item.value.vlans is defined %}
  {% for vlan in item.value.vlans %}
VLAN=vl.{{vlan}}
  {% endfor %}
{% endif %}
{% if item.value.macvlans is defined %}
  {% for macvlan in item.value.macvlans %}
MACVLAN={{macvlan}}
  {% endfor %}
{% endif %}
{% if item.value.vxlans is defined %}
  {% for vxlan in item.value.vxlans %}
VXLAN={{vxlan}}
  {% endfor %}
{% endif %}
{% if item.value.tunnels is defined %}
  {% for tunnel in item.value.tunnels %}
Tunnel={{tunnel}}
  {% endfor %}
{% endif %}

{# FIXME #}
{% if item.value.addresses is defined %}
#[Address]
#Address=
#Peer=
#Broadcast=
#Label=
#PreferredLifetime=
#HomeAddress=
#DuplicateAddressDetection=
#ManageTemporaryAddress=
#PrefixRoute=
#AutoJoin=
{% endif %}

#[IPv6AddressLabel]
#Label=
#Prefix=
