#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# Note: {{__wpa_supplicant_ifaces|count}} interface(s) detected for WPA

ctrl_interface=/var/run/wpa_supplicant
ctrl_interface_group=wheel

{% for __iface_key in network_nodes[inventory_hostname].networks %}
  {% set __iface = network_nodes[inventory_hostname].networks[__iface_key] %}
  {% if __iface.wlan_ssid is defined and __iface.wlan_passdb_entry is defined %}
# {{__iface_key}}
network={
	ssid="{{__iface.wlan_ssid}}"
	psk={{lookup(passdb, __iface.wlan_passdb_entry)}}

}
  {% endif %}
{% endfor %}
